<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kob.pulltorefresh_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.handmark.pulltorefresh.samples.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.handmark.pulltorefresh.samples.PullToRefreshListActivity"></activity>
    <activity android:name="com.handmark.pulltorefresh.samples.PullToRefreshGridActivity"/>
        <activity android:name="com.handmark.pulltorefresh.samples.PullToRefreshScrollViewActivity"/>
        <activity android:name="com.handmark.pulltorefresh.samples.PullToRefreshWebView2Activity"/>
        <activity android:name="com.handmark.pulltorefresh.samples.PullToRefreshWebViewActivity"/>
    </application>

</manifest>
